
body {
    background-color: #ff4500;
    color: #ccc;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    color: #ccc;
}


p {
    color: #fff;
    text-decoration: bold;
    text-align: center;
    background-color: #ff4500;
}
