
body {
    background-color: #444;
    color: #ccc;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    color: #ccc;
}


p {
    color: #fff;
    text-decoration: bold;
    background-color: #444;
}
